<!-- Previous Day Btn -->
<button mat-icon-button (click)="changeDay('previous')">
  <mat-icon aria-label="Previous day">keyboard_arrow_left</mat-icon>
</button>

<!-- Calendar -->
<mat-form-field>
  <input matInput [matDatepicker]="picker1" [(ngModel)]="currentDate" (dateChange)="dateChange($event)" disabled>
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1 disabled="false"></mat-datepicker>
</mat-form-field>

<!-- Next Day Btn -->
<button mat-icon-button (click)="changeDay('next')">
  <mat-icon aria-label="Next day">keyboard_arrow_right</mat-icon>
</button>

<mat-form-field>
  <mat-select placeholder="Favorite team">
    <mat-option *ngFor="let team of teams" [value]="team" (click)="showFavTeamFirst(team)">
      {{ team }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- If there were no games on a given day then display a message -->
<div *ngIf="gameList.length === 0">
    No games today
</div>

<!-- If games were played on a given day then display games -->
<div *ngIf="gameList.length">
  <span *ngFor="let game of gameList">
    <mat-card routerLink="/game-detail" (click)="updateGameDataDirectory(game.game_data_directory)">
      {{game.home_team_name}} {{game.linescore?.r.home || ''}}<br>
      {{game.away_team_name}} {{game.linescore?.r.away || ''}} <br>
    </mat-card>
  </span>
</div>
